/* MODAL WINDOW */ /*BUG! might want to switch to using Fix's modal window code instead */
/* Z-index of #mask must lower than #modal .window */
#mask {
position: absolute;
z-index: 999999990;
background-color: #000;
display: none;
}
#modal .window {
position: fixed;
width: 425px;
height: 360px;
display: none;
z-index: 999999991;
padding: 50px 25px 25px 25px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 0 0 25px #FFF;
-moz-box-shadow: 0 0 25px #FFF;
-webkit-box-shadow: 0 0 25px #FFF;
}
/* Customize the modal window here */
#modal-iframe {
width: 425px;
height: 350px;
border: 0;
z-index: 999999995;
position: relative;
top: -25px;
}
#modal #dialog {
width: 425px;
height: 350px;
background-color: #fff;
}
#dialog .close {
cursor: pointer;
position: absolute;
top: -15px;
left: -15px;
z-index: 999999997;
margin-bottom: 20px;
background: transparent url(../images/alerts/critical.png) no-repeat top left;
display: block;
height: 35px;
width: 250px;
color: #fff;
padding-left: 40px;
font-size: .8em;
}
